@import url("../css/normalize.css");
@import url("../css/adaptive_font_scale.css");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

@import url("../css/header.css");
@import url("../css/main.css");